$red: #ef3534;

.adminInput {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  align-self: center;
  top: 110vh;
  transition: all 0.5s;
}

.open-admin-form {
  top: 30vh;
}

.Deathwish-wrapper {
  position: absolute;
  margin-top: 25%;
  display: flex;
  align-self: center;
  width: 90%;
  padding-bottom: 20px;

  .message {
    background: #dff2bf;
    height: 55px;
    width: 180px;
    font-size: 1.2em;
    color: #4f8a10;
    border-radius: 10px;
    position: fixed;
    margin-left: 25%;
    box-shadow: 0px 0px 8px black;
    bottom: 110vh;
    transition: all 1s;
  }

  .message-open {
    bottom: 80vh;
  }

  .coffee-type {
    width: 100px;
    height: 100px;
  }

  .coffee-header {
    font-size: 1.6em;
    font-weight: 400;
  }

  .coffee-bag {
    align-self: center;
  }

  .crud-button-with-img {
    display: flex;
    flex-direction: column;
    img {
      width: 215px;
      height: 290px;
      margin: 0 0 100px 0;
    }
    button {
      margin-top: 15px;
    }
  }

  .coffee-size-btns {
    button {
      background: none;
      border: none;
      font-size: 1em;
      color: black;
    }
    :hover {
      background: black;
      color: white;
    }
  }

  .select-size {
    margin: 30px 0 30px 0;
  }

  .grind-wrapper {
    margin-top: 50px;
    p {
      padding-bottom: 30px;
    }
  }

  .purchase-options-wrapper {
    margin-top: 60px;
    .radio-text {
      font-weight: 600;
    }
  }

  .gray-background {
    background: #f2f2f2;
    border-radius: 5px;
    padding: 15px 20px;
  }

  button {
    background: $red;
    border: none;
    color: white;
    font-size: 0.8em;
    font-weight: 200;
    padding: 15px 15px;
  }

  .high-caffeine {
    font-size: 1.5em;
  }

  .left-text {
    text-align: center;
  }

  .skull {
    height: 15px;
    width: 15px;
  }
}

@media (min-width: 900px) {
  .Deathwish-wrapper {
    margin-top: 15%;
    font-size: 1.3em;

    .adminInput {
      margin-left: 47%;
    }

    .message {
      margin-left: 37%;
      padding-bottom: 15px;
    }

    .deathwish-all {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .crud-button-with-img {
        align-self: flex-start;
        margin: 10% 0 0 0;

        img {
          width: 285px;
          height: 390px;
          grid-row: 1 / 2;
          grid-column: 1 / 2;
        }
      }

      .coffee-info {
        grid-column: 2 / 3;
        width: 80%;
      }

      .left-text {
        text-align: left;
      }
    }
  }
}
