$red: #ef3534;

.mobileNav {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  margin: 0 0 0 -15px;
  p:hover {
    cursor: pointer;
  }
}

.mobileNav-list {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: relative;
  color: white;
  left: -100vw;
  transition: left 0.4s;
  display: flex;
  text-align: left;
  flex-direction: column;
  z-index: 1;

  li {
    list-style-type: none;
    font-size: 1.6em;
  }

  p {
    font-size: 1.4em;
    padding: 0 0 0 4%;
    width: 10%;
  }

  p:hover {
    cursor: pointer;
    color: $red;
  }
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  li:hover {
    color: $red;
  }
}

.open-nav {
  overflow-x: hidden;
  left: 0;
  position: fixed;
}

.deathwish-logo {
  width: 70px;
  height: 70px;
}

.shoppingcart-logo {
  width: 20px;
  height: 20px;
}

// .shopping-cart {
//   height: 100vh;
//   width: 100vw;
//   background: rgba(0, 0, 0, 0.9);
//   position: relative;
//   color: white;
//   right: 100vw;
//   transition: right 0.4s;
//   display: flex;
//   text-align: left;
//   flex-direction: column;
//   z-index: 1;
// }
