.Shopping-cart-wrapper {
  border: 1px solid black;
  height: 100vh;
  width: 100vw;
  position: fixed;
  margin-top: -100vh;
  background: rgb(0, 0, 0);
  z-index: 5;
  color: white;
  display: flex;
  flex-direction: column;

  .close-cart {
    position: absolute;
    margin-left: 90vw;
    cursor: pointer;
  }

  h2 {
    align-self: flex-start;
    margin-left: 15px;
  }

  h1 {
    position: fixed;
    margin-top: 90vh;
    align-self: center;
    margin-left: 26%;
  }

  .cart-items-wrapper {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    padding: 5px;
    height: 100vh;

    img {
      width: 120px;
      height: 150px;
    }

    input {
      width: 10%;
      text-align: center;
      margin-top: 30%;
    }

    button {
      background: none;
      border: none;
      color: white;
      font-size: 2em;
    }
  }
}

@media (min-width: 900px) {
  .Shopping-cart-wrapper {
    .empty-cart {
      font-size: 2em;
    }

    .close-cart {
      font-size: 2em;
    }

    .cart-items-wrapper {
      margin-top: 0;

      .quantity {
        margin-left: -5%;
      }

      input {
        font-size: 1em;
        margin-top: 40%;
      }

      p {
        font-size: 1.6em;
        margin-top: 8%;
      }

      img {
        height: 280px;
        width: 210px;
      }

      h1 {
        margin-left: 45%;
        font-size: 2.4em;
      }
    }
  }
}
