@import "../../sassHelpers/mixins.scss";

.homepage-wrapper {
  @extend %flex-column-with-center;
  align-self: center;
  position: absolute;
  width: 75%;
  margin: 140px 0 0 0;
  line-height: 1.4em;

  li {
    list-style-type: none;
  }
}

.main-coffee-image {
  margin: 15px 0 15px 0;
  width: 190px;
  height: 240px;
}

.bold-red-header {
  color: $red;
  font-weight: 1000;
  font-size: 1.8em;
}

.select-coffee {
  display: flex;
  flex-direction: column;
  justify-self: center;
  background: #f2f2f2;
  width: 100%;
  padding: 20px;
  margin-left: -15px;

  ul {
    margin: 0 50px 0 0;
  }

  ul li {
    margin: 20px;
  }
}

.coffee-type-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid gray;

  &:hover {
    border: 2px solid red;
  }
}

.red-buy-button {
  width: 100%;
  height: 9%;
  border: none;
  background: $red;
  color: white;
  font-size: 1.2em;
  font-weight: 800;
}

.home-desc {
  width: 120%;
  padding-bottom: 60px;
}

.red-skull {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.red-text {
  color: $red;
}

.bold-desc {
  font-weight: 900;
}

.line {
  width: 100%;
}

@media (min-width: 900px) {
  .homepage-wrapper {
    font-size: 1.4em;
  }

  .main-coffee-image {
    margin: 55px 0 55px 0;
    width: 290px;
    height: 340px;
  }
}
